:root {
    --mdc-theme-primary: black;
    --mdc-theme-background: #222;
	/*--mdc-theme-on-primary: #ffe866;*/
	--mdc-theme-text-primary-on-primary: #f2dd6a;
	--mdc-theme-text-primary-on-light: #f2dd6a; /* tab highlight */
	--mdc-theme-text-secondary-on-background: #b5a348; /* unactive tab */
	--mdc-theme-text-primary-on-background: #f2dd6a; /* hovered tab */
	/*
	--mdc-theme-secondary: red;
	--mdc-theme-surface: red;
	--mdc-theme-on-primary: #ffe866;
	--mdc-theme-on-secondary: #e6c300;
	--mdc-theme-on-surface: red;
	--mdc-theme-text-primary-on-background: red;
	--mdc-theme-text-secondary-on-background: blue;*/
}

body {
	background-color: #111;
	/* deactivate text select (taken from https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting#4407335) */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.mdc-toolbar {
	color: var(--mdc-theme-text-primary-on-primary, #f2dd6a);
}

#dyamic-nav-bar {
	background-color: var(--mdc-theme-background, #222); /* tab bar under the toolbar */
}
#dyamic-tab-bar {
	/*background-color: black;*/ /* container around the elements of the tab bar */
}

.mdc-tab{
	/*color: #f2dd6a;*/
}

.mdc-card {
	color: #e6c300;
}

#controlOptions table {
	/*border: 1px solid #222;*/
	color: var(--mdc-theme-text-primary-on-primary, #f2dd6a);
	margin: 20px;
}

#controlOptions table td {
	text-align: center;
	/*vertical-align: top;*/
}

#controlOptions table th:nth-child(3) {
	width: 75vw;
}

#controlOptions .control {
	position: absolute;
	right: 15px;
	width: 170px;
}

#controlOptions .control .mdc-button {
	background-color: var(--mdc-theme-background, #222);
	color: var(--mdc-theme-text-primary-on-primary, #f2dd6a);
}

.noUi-handle {
	background: var(--mdc-theme-primary, black);
	border: var(--mdc-theme-background, #222);
}

select{
	background: var(--mdc-theme-background, #222);
	color: var(--mdc-theme-text-primary-on-primary, #f2dd6a);
}
.manualSwitch {
	padding: 0px 20px 0px 20px;
}
.manualSlider {
	width : 50px;
}
.manualSlider .noUi-connect:nth-child(1) { background-color: #00B264; }
.manualSlider .noUi-connect:nth-child(2) { background-color: #e6550d; }

.optionDirSelection {
	display: none;
}

.optionSlider {
	margin-bottom: 20px;
}

.optionSlider .noUi-connect:nth-child(1) { background-color: #e6550d; }
.optionSlider .noUi-connect:nth-child(2) { background-color: #fdae6b; }
.optionSlider .noUi-connect:nth-child(3) { background-color: #00B264; }
.optionSlider .noUi-connect:nth-child(4) { background-color: #fdae6b; }
.optionSlider .noUi-connect:nth-child(5) { background-color: #e6550d; }

.optionSlider.plus .noUi-connect:nth-child(1) { background-color: #00B264; }
.optionSlider.plus .noUi-connect:nth-child(2) { background-color: #fdae6b; }
.optionSlider.plus .noUi-connect:nth-child(3) { background-color: #e6550d; }

.timeButtonContainer {
	background-color: var(--mdc-theme-background, #222);
	margin: 10px;
}

.time-button:not(.mdc-button--raised) {
	color:var(--mdc-theme-text-secondary-on-background, #b5a348) !important;
}

.mdc-grid-tile {
	--mdc-grid-list-tile-width: 300px;
}

.panel {
  display: none;
}
.panel.active {
  display: flex;
}

.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}

.sensor-card-container {
	align-content: center;
	flex-flow: row wrap;
	justify-content: center;
}
.sensor-card-container .sensor-card {
	height: 45vh;
	margin: 12px;
	width: 45vh;
}
.sensor-card .sensor-card__header {
	background-color: var(--mdc-theme-primary,#fff);
	padding: 3vh;
	position: relative;
}
.sensor-card .mdc-card__footer {
	padding: 1vh;
	position: relative;
}
.sensor-card .mdc-card__primary {
	text-align: center;
	/*padding-bottom: 8px;*/
}
.sensor-card .sensor-card__measurement {
	margin: auto;
}
.sensor-card .sensor-card__value {
	font-size: 10vh;
	font-weight: 700;
}
.sensor-card .sensor-card__unit {
	font-size: 3vh;
	font-weight: 400;
}
.sensor-card .sensor-card__actions {
	display: none;
}
	
.sensor-card-slider {
	/*display: none;*/
}

.sensor-card-button {
	display: none;
}

sensor-card-form-field {
	float: right;
}